<section id="featured">
    <!-- start slider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Slider -->
                <div id="main-slider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="../../assets/img/slides/slide1.jpg" alt="" height="700px" />
                            <div class="flex-caption">
                                <h3>Browse Wedding Venues and Vendors</h3>
                                <p>Hassle Free Planning & Booking at Our Guaranteed Best Prices.</p>
                                <!-- <a href="#" class="btn btn-theme">Learn More</a> -->
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/img/slides/slide2.jpg" alt="" height="700px"/>
                            <div class="flex-caption">
                                <h3>Plan Your Wedding With India's Largest Wedding Company.</h3>
                                <p>Find, Compare And Book Wedding Venues And Services.</p>
                                <!-- <a href="#" class="btn btn-theme">Learn More</a> -->
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/img/slides/slide3.jpg" alt="" height="700px"/>
                            <div class="flex-caption">
                                <h3>WEDDING SALAD</h3>
                                <p>Best Prices Guaranteed.</p>
                                <!-- <a href="#" class="btn btn-theme">Learn More</a> -->
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end slider -->
            </div>
        </div>
    </div>



</section>
<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-cta">
                    <div class="cta-text">
                        <h2><span>Wedding Salad</span> The Biggest Wedding Company.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Venues</h4>
                                <div class="icon">
                                    <i class="fa fa-desktop fa-3x"></i>
                                </div>
                                <p>
                                Decide the Destination you want for your Wedding.
                                </p>

                            </div>
                            <!-- <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Vendors</h4>
                                <div class="icon">
                                    <i class="fa fa-pagelines fa-3x"></i>
                                </div>
                                <p>
                                    we help you with every thing egs- Saterer,Decorator,Anchor,DJ & So On.
                                </p>

                            </div>
                            <!-- <div class="box-bottom"> -->
                                <!-- <a href="#">Learn more</a> -->
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Plan Your Own Wedding</h4>
                                <div class="icon">
                                    <i class="fa fa-edit fa-3x"></i>
                                </div>
                                <p>
                                    Select everything and fix an appointment before or after payment.
                                </p>

                            </div>
                            <!-- <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Gallery</h4>
                                <div class="icon">
                                    <i class="fa fa-code fa-3x"></i>
                                </div>
                                <p>
                                    Look at our previous works & plan yours.
                                </p>

                            </div>
                            <!-- <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        <!-- Portfolio Projects -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="heading">Recent Works</h4>
                <div class="row">
                    <section id="projects">
                        <ul id="thumbs" class="portfolio">
                            <!-- Item Project and Filter Name -->
                            <li class="col-lg-3 design" data-id="id-0" data-type="web">
                                <div class="item-thumbs">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 1" href="img/works/1.jpg">
                <span class="overlay-img"></span>
                <span class="overlay-img-thumb font-icon-plus"></span>
                </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="../../assets/img/works/1.jpg" alt="Arrangement & Decor by WeddingSalad co.">
                                </div>
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 2" href="img/works/2.jpg">
                <span class="overlay-img"></span>
                <span class="overlay-img-thumb font-icon-plus"></span>
                </a>
                                <!-- Thumb Image and Description -->
                                <img src="../../assets/img/works/2.jpg" alt="Hindu & Christian Lasbian Wedding, Beautifully Executed by Wedding Salad">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 3" href="img/works/3.jpg">
                <span class="overlay-img"></span>
                <span class="overlay-img-thumb font-icon-plus"></span>
                </a>
                                <!-- Thumb Image and Description -->
                                <img src="../../assets/img/works/3.jpg" alt="PreWedding Shoot By our proffessional Vendors.">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 4" href="img/works/4.jpg">
                <span class="overlay-img"></span>
                <span class="overlay-img-thumb font-icon-plus"></span>
                </a>
                                <!-- Thumb Image and Description -->
                                <img src="../../assets/img/works/4.jpg" alt="Haldi Ceremony">
                            </li>
                            <!-- End Item Project -->
                        </ul>
                    </section>
                </div>
            </div>
        </div>

    </div>
</section>