<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li><a href="#">Vendors</a><i class="icon-angle-right"></i></li>
                    <li class="active">Caterer</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Green Leaf Caterers</h4>
                <img src="img/dummies/1.jpg" alt="" class="align-left" height="40%" width="90%" />
                <p>
                    World class level experience with your kind of budget, that's right, this is what they are experts at. Book them for an event coming up in your family and impress your clients with wholesome new variety of food.
                </p>
            </div>>
            <div class="col-lg-4">
                <h4>Mini Punjab</h4>
                <img src="img/dummies/2.jpg" alt="" class="align-left" height="40%" width="90%" />
                <p>
                    Mini Punjab is a leading brand in outdoor catering services. They offer world-class food and hospitality. They can make any event sparkle with their expertise, as they specialize in outdoor catering.  
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Kritika Caterers from Banyan Tree Hospitality caters</h4>
                <img src="img/dummies/3.jpg" alt="" class="align-left" height="200" width="500" />
                <p>
                    Kritika Caterers from Banyan Tree Hospitality caters for Weddings, Private and Corporate Events in Delhi, Thane, Navi Mumbai and Pune area. We serve an entirely Pure Vegetarian menu based on high standards of product, service and professional dealing. We take pride in the quality of food, innovation and service we extend. The promoters of the company bring forth 3 decades of experience in five star hotels and these standards reflect in the product
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Akshaya Caterers</h4>
                <img src="img/dummies/4.jpg" alt="" class="align-left" height="200" width="500" />
                <p>
                    Akshaya Caterers offer options of choosing from a simple pre-packaged catering menu or a customized menu that could fit your unique taste and budget. Their main aim is to ensure the complete satisfaction of every customer and their guest, while offering professional but personalized service throughout the event.
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Gulati Caterers</h4>
                <img src="img/dummies/5.jpg" alt="" class="align-left" height="20" width="500" />
                <p>
                    With 45 years in the business, Gulati Caterers has unparalleled knowledge of the Indian market and what the consumer wants. They are dedicated to delivering a world-class dining experience with delightful food and flawless service. The team is experienced in catering for private events like anniversaries and birthday etc.

                </p>
            </div>
        
            
            <div class="col-lg-4">
                <h4>Soul Care Hospitality and Wellness Pvt Ltd</h4>
                <img src="img/dummies/8.jpg" alt="" class="align-left" height="200" width="500" />
                <p>
                    Soul Care Hospitality and Wellness Pvt Ltd is a catering service provider that specializes in wedding catering. It is a team of professionals who will help you turn your wedding into an impeccable event with their flawless services. It assures a high quality and top class attention with a delicious combination of flavours and spices that will blow your taste buds. Soul Care Hospitality and Wellness Pvt Ltd, Delhi , Mumbai offers vegetarian and non-vegetarian multi-cuisine menu with both, regional and international delicacies.
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Fresh Food Caterers</h4>
                <img src="img/dummies/9.jpg" alt="" class="align-left" height="200" width="500" />
                <p>
                    Fresh Food Caterers are one of the best catering in Delhi. They cook and serve authentic indian,  typical punjabi food. Their is speciality is punjabi and chinese foods. They also cook many more dishes. Fresh Food Caterers, Delhi have maintained their reputation among customers for serving the best food quality.
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Ashirwad Caterers</h4>
                <img src="img/dummies/7.jpg" alt="" class="align-left" height="80%" width="90%" />
                <p>
                    Ashirwad Caterers, Delhi is in the catering industry for last 17 years. They are known for their delicious food and customer service. They serve all types of cuisines Indian, Continental, Chinese, etc. also which will be in your budget and at reasonable rates. By having Ashirwad Caterers, Delhi for your event you can rest and enjoy your event as they take care of the catering.
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Vashdev Caterers, Delhi</h4>
                <img src="img/dummies/6.jpg" alt="" class="align-left" height="20" width="500" />
                <p>
                    At Vashdev Caterers, Delhi the majority of their catering administrations are particularly customized to meet the clients singular prerequisites, which makes them unique. They take each new event as a clear canvas and afterwards mix your thoughts with your flavours to excite and please your visitors. Vashdev Caterers brings Asian infusion to all its customers. With their unique twist on Indian and Chinese food, you're sure to find a dish that you'll love. Vashdev Caterers' specialties include Punjabi, Indian, Continental,
                </p>
            </div>
        </div>
        </div>
</section>
        <!-- divider -->
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div> -->
        <!-- end divider -->
        <!-- Descriptions -->
        <!-- <div class="row">
            <div class="col-lg-6"> -->
                <!-- Description -->
                <!-- <h4>Description</h4>
                <dl>
                    <dt>Description lists</dt>
                    <dd>A description list is perfect for defining terms.</dd>
                    <dt>Euismod</dt>
                    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                    <dt>Malesuada porta</dt>
                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                </dl>
            </div> -->
            <!-- Horizontal Description -->
            <!-- <div class="col-lg-6">
                <h4>Horizontal Description</h4>
                <dl class="dl-horizontal">
                    <dt>Description lists</dt>
                    <dd>A description list is perfect for defining terms.</dd>
                    <dt>Euismod</dt>
                    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                    <dt>Malesuada porta</dt>
                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                    <dt>Felis euismod semper eget lacinia</dt>
                    <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                </dl>
            </div> -->
        <!-- </div> -->
        <!-- divider -->
        <!-- <div class="row"> -->
            <!-- <div class="col-lg-12"> -->
                <!-- <div class="solidline"> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
        <!-- end divider -->
        <!-- Lists -->
        <!-- <div class="row"> -->
            <!-- Unordered Lists -->
            <!-- <div class="col-lg-3">
                <h4>Indian Veg</h4>
                <ul>
                    <li>Chilly Paneer</li>
                    <li>Manchurian</li>
                    <li>Paneer Tikka</li>
                    <li>Mushroom</li>
                    <li>Main Course
                        <ul>
                            <li>Dal Makhni</li>
                            <li>Shahi Paneer</li>
                            <li>Bhindi</li>
                            <li>Chole</li>
                        </ul>
                    </li>
                    <li>Sarso Ka Saag (Seasonal)</li>
                    <li>Aaloo Methi</li>
                    <li>Rajma</li>
                </ul>
            </div> -->
            <!-- Unstyled Lists -->
            <!-- <div class="col-lg-3">
                <h4>Indian Non Veg</h4>
                <ul class="unstyled">
                    <li>Mutton kebab</li>
                    <li>Fried Chicken</li>
                    <li>Tandoori Chicken</li>
                    <li>Fish Orley</li>
                    <li>Main Course
                        <ul>
                            <li>Mutton Gravy</li>
                            <li>Butter Chicken</li>
                            <li>Rara Chicken</li>
                            <li>Lemon Chicken</li>
                        </ul>
                    </li>
                    <li>Butter Melt Crab</li>
                    <li>prawns</li>
                    <li>Fish Gravy</li>
                </ul>
            </div> -->
            <!-- Ordered Lists -->
            <!-- <div class="col-lg-3">
                <h4>Sweet Dishes</h4>
                <ol>
                    <li>Gulab Jamun</li>
                    <li>Jalebi</li>
                    <li>Milk Products
                        <ol>
                            <li>Kheer</li>
                            <li>Badam Milk</li>
                            <li>RasMalai</li>
                        </ol>
                    </li>
                    <li>Pastries</li>
                    <li>Gajjar Ka Halwa</li>
                    <li>Moong Dal Ka Halwa</li>
                </ol>
            </div> -->
            <!-- Unstyled Lists -->
            <!-- <div class="col-lg-3">
                <h4>Beverages</h4>
                <ol class="unstyled">
                    <li>Filter Coffee (Freshly Ground Coffee made using a special steel filter)</li>
                    <li>Cold Drinks</li>
                    <li>Water</li>
                    <li>Virgin Mogito</li>
                    <li>Mocktails
                        <ol>
                            <li>Blue Drink</li>
                            <li>Sex On The Beach</li>
                        </ol>
                    </li>
                    <li>Beer</li>
                    <li>Whysky</li>
                    <li>Vodka</li>
                </ol>
            </div>
        </div> -->
        <!-- divider -->
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div> -->
        <!-- end divider -->
        <!-- <div class="row">
            <div class="col-lg-4">
                <h4>Blockquote</h4>
                <blockquote>
                    <i class="icon-quote-left icon-2x"></i> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </blockquote>
            </div>
            <div class="col-lg-4">
                <h4>Blockquote and cite</h4>
                <blockquote>
                    <i class="icon-quote-left icon-2x"></i> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <cite>John doe, Awesome Inc.</cite>
                </blockquote>
            </div>
            <div class="col-lg-4">
                <h4>Pullquote left and right</h4>
                <span class="pullquote-left">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </span>
                <span class="pullquote-right margintop10">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </span>
            </div>
        </div> -->
        <!-- divider -->
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        end divider -->
        <!-- <div class="row">
            <div class="col-lg-12">
                <h4>Preformatted text</h4>
                <pre class="prettyprint linenums">
             &lt;div class="col-lg-12"&gt;<br />
             &nbsp;&nbsp;&lt;p&gt;Lorem ipsum dolor sit amet, consetetur sadipscing elitr..&lt;/p&gt;<br />
             &nbsp;&nbsp;&lt;p&gt;Lorem ipsum dolor sit amet, consetetur sadipscing elitr..&lt;/p&gt;<br />
             &nbsp;&nbsp;&lt;p&gt;Lorem ipsum dolor sit amet, consetetur sadipscing elitr..&lt;/p&gt;<br />
             &lt;/div&gt;
        </pre>
            </div>
        </div> -->
    <!-- </div> -->
<!-- </section> -->