<header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="index.html"><span>Wedding</span>Salad</a>
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li class="active"><a [routerLink]="['/']">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Vendors <b class=" icon-angle-down"></b></a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="['/Caterer']">Caterer</a></li>
                            <li><a [routerLink]="['/Decorator']">Decorator</a></li>
                            <li><a [routerLink]="['/Entertainment']">Entertainment</a></li>
                        </ul>
                    </li>
                    <li><a [routerLink]="['/Portfolio']">Portfolio</a></li>
                    <li><a [routerLink]="['/Blog']">Blog</a></li>
                    <li><a [routerLink]="['/container']">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>